<h1>{{ title }}</h1>

<form  #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)" >
  <input type="text" name="name" placeholder="Enter Name" ngModel/>
  <br />
  <br />

  <input type="password" name="password" placeholder="Enter password" ngModel/>
  <br />
  <br />

  <button>Login</button>
</form>
<br><br>
<button (click)="loginUser(loginForm.value)" > outside the Login</button>

