<!-- <p>todo-item works!</p> -->







<!-- <h5 [class]=" 'nostrike'? todo.active: 'strike' " > -->

<h5 [ngClass]="{ strike: !todo.active }">
  {{ todo.title }}
</h5>
<p  [ngClass]="{ strike: !todo.active }"  >{{ todo.desc }}</p>

<div class="form-group form-check">
  <input
    type="checkbox"
    class="form-check-in put"
    id="todo{{i}} "
    (click)="onCheckboxClick(todo)"
    [checked]="!todo.active"
  />
  <label class="form-check-label" for="todo{{i}}  "> done</label>
</div>

<button class="btn btn-sm btn-danger" (click)="onClick(todo)">Delete</button>
