


  <h1> this is {{title}} </h1>
<!-- <p> dsd ipsator</p> -->

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus autem eveniet assumenda nam ullam commodi officiis ea? Ea officiis earum dignissimos sequi sunt necessitatibus delectus commodi architecto. Pariatur totam doloribus amet, sapiente ducimus eos?</p>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"  routerLink="/">Todos list</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home  </a>
      </li>

      <li class="nav-item"> 
        <a class="nav-link" routerLink="/about">about</a>
      </li>

      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->


    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<!-- <div class="container-fluid" > 

<app-todos> </app-todos>

</div> -->  

<router-outlet>  </router-outlet>